@import "tailwindcss";
@import "./themes.css";
@import "./typography.css";

* {
  box-sizing: border-box;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background);
  color: var(--foreground);
}

/* Site contents */
.ticker-mask {
  mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
  -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
}